In [56]:
import pandas as pd

In [57]:
og = pd.read_csv(r"CSV_files\results.csv", parse_dates=True, encoding='ISO-8859-1')
df = pd.read_csv(r"CSV_files\wins_per_team.csv")

In [58]:
df

          Unnamed: 0    GP  Win  Draw  Loss      %W      %D      %L
0            Arsenal  1072  582   270   220  54.29%  25.19%  20.52%
1        Aston Villa   958  320   279   359  33.40%  29.12%  37.47%
2           Barnsley    38   10     5    23  26.32%  13.16%  60.53%
3         Birmingham   266   73    82   111  27.44%  30.83%  41.73%
4          Blackburn   654  242   173   239  37.00%  26.45%  36.54%
5          Blackpool    38   10     9    19  26.32%  23.68%  50.00%
6             Bolton   494  149   128   217  30.16%  25.91%  43.93%
7        Bournemouth   190   56    43    91  29.47%  22.63%  47.89%
8           Bradford    76   14    20    42  18.42%  26.32%  55.26%
9           Brighton   152   36    50    66  23.68%  32.89%  43.42%
10           Burnley   266   76    62   128  28.57%  23.31%  48.12%
11           Cardiff    76   17    13    46  22.37%  17.11%  60.53%
12          Charlton   304   93    82   129  30.59%  26.97%  42.43%
13           Chelsea  1072  583   259   230  54.38%  24.16%  21.46%
14          Coventry   312   86    99   127  27.56%  31.73%  40.71%
15    Crystal Palace   422  123    98   201  29.15%  23.22%  47.63%
16             Derby   266   68    70   128  25.56%  26.32%  48.12%
17           Everton  1072  392   306   374  36.57%  28.54%  34.89%
18            Fulham   570  162   154   254  28.42%  27.02%  44.56%
19      Huddersfield    76   12    17    47  15.79%  22.37%  61.84%
20              Hull   190   41    48   101  21.58%  25.26%  53.16%
21           Ipswich   160   45    37    78  28.12%  23.12%  48.75%
22             Leeds   464  195   115   154  42.03%  24.78%  33.19%
23         Leicester   574  195   150   229  33.97%  26.13%  39.90%
24         Liverpool  1072  565   263   244  52.71%  24.53%  22.76%
25          Man City   882  429   192   261  48.64%  21.77%  29.59%
26        Man United  1072  663   235   174  61.85%  21.92%  16.23%
27     Middlesbrough   532  154   158   220  28.95%  29.70%  41.35%
28         Newcastle   996  369   254   373  37.05%  25.50%  37.45%
29           Norwich   312   73    89   150  23.40%  28.53%  48.08%
30     Nott'm Forest   156   50    49    57  32.05%  31.41%  36.54%
31            Oldham    42    9    13    20  21.43%  30.95%  47.62%
32        Portsmouth   266   79    65   122  29.70%  24.44%  45.86%
33               QPR   236   64    53   119  27.12%  22.46%  50.42%
34           Reading   114   32    23    59  28.07%  20.18%  51.75%
35  Sheffield United   156   39    40    77  25.00%  25.64%  49.36%
36    Sheffield Weds   274   86    75   113  31.39%  27.37%  41.24%
37       Southampton   806  252   217   337  31.27%  26.92%  41.81%
38             Stoke   380  116   109   155  30.53%  28.68%  40.79%
39        Sunderland   608  153   159   296  25.16%  26.15%  48.68%
40           Swansea   266   82    66   118  30.83%  24.81%  44.36%
41           Swindon    42    5    15    22  11.90%  35.71%  52.38%
42         Tottenham  1072  464   265   343  43.28%  24.72%  32.00%
43           Watford   266   67    61   138  25.19%  22.93%  51.88%
44         West Brom   494  117   139   238  23.68%  28.14%  48.18%
45          West Ham   958  319   245   394  33.30%  25.57%  41.13%
46             Wigan   304   85    76   143  27.96%  25.00%  47.04%
47         Wimbledon   274   85    82   107  31.02%  29.93%  39.05%
48            Wolves   266   75    72   119  28.20%  27.07%  44.74%

In [59]:
og

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11108,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,...,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
11109,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,...,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
11110,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,...,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
11111,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,...,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
11112,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,...,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

In [60]:
condition = og["Season"] == "2021-22"
og.drop(og[condition].index, inplace=True)

In [61]:
seasons = og["Season"].unique()

In [62]:
type(seasons)

numpy.ndarray

In [63]:
for element in seasons:
    print(element)

1993-94
1994-95
1995-96
1996-97
1997-98
1998-99
1999-00
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21

In [64]:
season99 = pd.DataFrame()

In [66]:
season99["Team"] = None

In [68]:
season99["GP"] = None
season99["GS"] = None
season99["GA"] = None
season99["GD"] = None
season99["PTS"] = None

In [69]:
season99

Empty DataFrame
Columns: [Team, GP, GS, GA, GD, PTS]
Index: []

In [71]:
#How to approach calculating a season.
#Find all the teams and add teams to the table
#Iterate through the games of the season
#Add GP to team, add GS and GA for each team
#Look at result and assign points accordingly

In [ ]:
for i in seasons:
    condition = og["Season"] == "1999-00"