In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('results.csv', parse_dates=True, encoding='ISO-8859-1')

In [3]:
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
11108,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,...,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
11109,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,...,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
11110,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,...,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
11111,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,...,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
11112,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,...,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11108,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,G Scott,9.0,11.0,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
11109,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,M Atkinson,15.0,5.0,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
11110,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,R Jones,12.0,11.0,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
11111,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,M Oliver,17.0,18.0,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
11112,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,A Taylor,11.0,6.0,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

In [7]:
df["HomeTeam"].value_counts()
df["AwayTeam"].value_counts()

Tottenham           552
Chelsea             552
Liverpool           552
Everton             551
Man United          551
Arsenal             550
Newcastle           514
Aston Villa         495
West Ham            495
Man City            457
Southampton         418
Blackburn           327
Sunderland          304
Leicester           301
Fulham              285
Middlesbrough       266
Leeds               248
Bolton              247
West Brom           247
Crystal Palace      226
Stoke               190
Norwich             171
Coventry            156
Charlton            152
Wigan               152
Wolves              149
Watford             149
Burnley             148
Sheffield Weds      137
Wimbledon           137
Derby               133
Swansea             133
Birmingham          133
Portsmouth          133
QPR                 118
Bournemouth          95
Hull                 95
Brighton             91
Ipswich              80
Nott'm Forest        78
Sheffield United     78
Reading              57
Bradford             38
Cardiff              38
Huddersfield         38
Oldham               21
Swindon              21
Blackpool            19
Barnsley             19
Brentford            16
Name: AwayTeam, dtype: int64

In [8]:
df = df[df['Season'] != "2021-22"]

In [9]:
team_sum = df["AwayTeam"].value_counts() + df["HomeTeam"].value_counts()

In [10]:
team_sum.sort_values(ascending=False).tail()

Bradford     76
Oldham       42
Swindon      42
Barnsley     38
Blackpool    38
dtype: int64

In [11]:
team_sum.count()

49

In [12]:
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.loc[1][2] #rows and columns

'Aston Villa'

In [14]:
df.iloc[7500]

Season                   2012-13
DateTime    2012-11-17T00:00:00Z
HomeTeam               West Brom
AwayTeam                 Chelsea
FTHG                           2
FTAG                           1
FTR                            H
HTHG                         1.0
HTAG                         1.0
HTR                            D
Referee                 M Oliver
HS                           8.0
AS                          19.0
HST                          6.0
AST                         12.0
HC                           0.0
AC                          12.0
HF                           7.0
AF                          13.0
HY                           0.0
AY                           0.0
HR                           0.0
AR                           0.0
Name: 7500, dtype: object

In [15]:
df["FTAG"].mean()

1.1368011847463901

In [16]:
df["FTHG"].mean()

1.5191595705294336

In [17]:
df["FTHG"].sum() + df["FTAG"].sum()

28695

In [18]:
df["HomeTeam"].unique()

array(['Arsenal', 'Aston Villa', 'Chelsea', 'Liverpool', 'Man City',
       'Newcastle', 'Oldham', 'Sheffield United', 'Southampton',
       'West Ham', 'Norwich', 'Tottenham', 'Everton', 'Ipswich', 'Leeds',
       'Wimbledon', 'Blackburn', 'Coventry', 'Man United', 'QPR',
       'Sheffield Weds', 'Swindon', 'Crystal Palace', 'Leicester',
       "Nott'm Forest", 'Bolton', 'Middlesbrough', 'Derby', 'Sunderland',
       'Barnsley', 'Charlton', 'Watford', 'Bradford', 'Fulham',
       'Birmingham', 'West Brom', 'Portsmouth', 'Wolves', 'Wigan',
       'Reading', 'Hull', 'Stoke', 'Burnley', 'Blackpool', 'Swansea',
       'Cardiff', 'Bournemouth', 'Brighton', 'Huddersfield'], dtype=object)

In [19]:
len(df)

10804

In [20]:
#Attemp to count the number of wins

In [21]:
df.iloc[1] #go through every game

Season                   1993-94
DateTime    1993-08-14T00:00:00Z
HomeTeam             Aston Villa
AwayTeam                     QPR
FTHG                           4
FTAG                           1
FTR                            H
HTHG                         NaN
HTAG                         NaN
HTR                          NaN
Referee                      NaN
HS                           NaN
AS                           NaN
HST                          NaN
AST                          NaN
HC                           NaN
AC                           NaN
HF                           NaN
AF                           NaN
HY                           NaN
AY                           NaN
HR                           NaN
AR                           NaN
Name: 1, dtype: object

In [22]:
df.iloc[1][2] #Access the home team

'Aston Villa'

In [23]:
df.iloc[1]

Season                   1993-94
DateTime    1993-08-14T00:00:00Z
HomeTeam             Aston Villa
AwayTeam                     QPR
FTHG                           4
FTAG                           1
FTR                            H
HTHG                         NaN
HTAG                         NaN
HTR                          NaN
Referee                      NaN
HS                           NaN
AS                           NaN
HST                          NaN
AST                          NaN
HC                           NaN
AC                           NaN
HF                           NaN
AF                           NaN
HY                           NaN
AY                           NaN
HR                           NaN
AR                           NaN
Name: 1, dtype: object

In [24]:
team_sum

Arsenal             1072
Aston Villa          958
Barnsley              38
Birmingham           266
Blackburn            654
Blackpool             38
Bolton               494
Bournemouth          190
Bradford              76
Brighton             152
Burnley              266
Cardiff               76
Charlton             304
Chelsea             1072
Coventry             312
Crystal Palace       422
Derby                266
Everton             1072
Fulham               570
Huddersfield          76
Hull                 190
Ipswich              160
Leeds                464
Leicester            574
Liverpool           1072
Man City             882
Man United          1072
Middlesbrough        532
Newcastle            996
Norwich              312
Nott'm Forest        156
Oldham                42
Portsmouth           266
QPR                  236
Reading              114
Sheffield United     156
Sheffield Weds       274
Southampton          806
Stoke                380
Sunderland           608
Swansea              266
Swindon               42
Tottenham           1072
Watford              266
West Brom            494
West Ham             958
Wigan                304
Wimbledon            274
Wolves               266
dtype: int64

In [25]:
df.iloc[1]

Season                   1993-94
DateTime    1993-08-14T00:00:00Z
HomeTeam             Aston Villa
AwayTeam                     QPR
FTHG                           4
FTAG                           1
FTR                            H
HTHG                         NaN
HTAG                         NaN
HTR                          NaN
Referee                      NaN
HS                           NaN
AS                           NaN
HST                          NaN
AST                          NaN
HC                           NaN
AC                           NaN
HF                           NaN
AF                           NaN
HY                           NaN
AY                           NaN
HR                           NaN
AR                           NaN
Name: 1, dtype: object

In [26]:
team_sum.sort_index()

Arsenal             1072
Aston Villa          958
Barnsley              38
Birmingham           266
Blackburn            654
Blackpool             38
Bolton               494
Bournemouth          190
Bradford              76
Brighton             152
Burnley              266
Cardiff               76
Charlton             304
Chelsea             1072
Coventry             312
Crystal Palace       422
Derby                266
Everton             1072
Fulham               570
Huddersfield          76
Hull                 190
Ipswich              160
Leeds                464
Leicester            574
Liverpool           1072
Man City             882
Man United          1072
Middlesbrough        532
Newcastle            996
Norwich              312
Nott'm Forest        156
Oldham                42
Portsmouth           266
QPR                  236
Reading              114
Sheffield United     156
Sheffield Weds       274
Southampton          806
Stoke                380
Sunderland           608
Swansea              266
Swindon               42
Tottenham           1072
Watford              266
West Brom            494
West Ham             958
Wigan                304
Wimbledon            274
Wolves               266
dtype: int64

In [27]:
type(team_sum)

pandas.core.series.Series

In [28]:
team_sum = team_sum.to_frame()

In [29]:
type(team_sum)

pandas.core.frame.DataFrame

In [30]:
team_sum["Win"] = 0

In [31]:
team_sum["Draw"] = 0

In [32]:
team_sum["Loss"] = 0

In [33]:
team_sum

                     0  Win  Draw  Loss
Arsenal           1072    0     0     0
Aston Villa        958    0     0     0
Barnsley            38    0     0     0
Birmingham         266    0     0     0
Blackburn          654    0     0     0
Blackpool           38    0     0     0
Bolton             494    0     0     0
Bournemouth        190    0     0     0
Bradford            76    0     0     0
Brighton           152    0     0     0
Burnley            266    0     0     0
Cardiff             76    0     0     0
Charlton           304    0     0     0
Chelsea           1072    0     0     0
Coventry           312    0     0     0
Crystal Palace     422    0     0     0
Derby              266    0     0     0
Everton           1072    0     0     0
Fulham             570    0     0     0
Huddersfield        76    0     0     0
Hull               190    0     0     0
Ipswich            160    0     0     0
Leeds              464    0     0     0
Leicester          574    0     0     0
Liverpool         1072    0     0     0
Man City           882    0     0     0
Man United        1072    0     0     0
Middlesbrough      532    0     0     0
Newcastle          996    0     0     0
Norwich            312    0     0     0
Nott'm Forest      156    0     0     0
Oldham              42    0     0     0
Portsmouth         266    0     0     0
QPR                236    0     0     0
Reading            114    0     0     0
Sheffield United   156    0     0     0
Sheffield Weds     274    0     0     0
Southampton        806    0     0     0
Stoke              380    0     0     0
Sunderland         608    0     0     0
Swansea            266    0     0     0
Swindon             42    0     0     0
Tottenham         1072    0     0     0
Watford            266    0     0     0
West Brom          494    0     0     0
West Ham           958    0     0     0
Wigan              304    0     0     0
Wimbledon          274    0     0     0
Wolves             266    0     0     0

In [34]:
team_sum

                     0  Win  Draw  Loss
Arsenal           1072    0     0     0
Aston Villa        958    0     0     0
Barnsley            38    0     0     0
Birmingham         266    0     0     0
Blackburn          654    0     0     0
Blackpool           38    0     0     0
Bolton             494    0     0     0
Bournemouth        190    0     0     0
Bradford            76    0     0     0
Brighton           152    0     0     0
Burnley            266    0     0     0
Cardiff             76    0     0     0
Charlton           304    0     0     0
Chelsea           1072    0     0     0
Coventry           312    0     0     0
Crystal Palace     422    0     0     0
Derby              266    0     0     0
Everton           1072    0     0     0
Fulham             570    0     0     0
Huddersfield        76    0     0     0
Hull               190    0     0     0
Ipswich            160    0     0     0
Leeds              464    0     0     0
Leicester          574    0     0     0
Liverpool         1072    0     0     0
Man City           882    0     0     0
Man United        1072    0     0     0
Middlesbrough      532    0     0     0
Newcastle          996    0     0     0
Norwich            312    0     0     0
Nott'm Forest      156    0     0     0
Oldham              42    0     0     0
Portsmouth         266    0     0     0
QPR                236    0     0     0
Reading            114    0     0     0
Sheffield United   156    0     0     0
Sheffield Weds     274    0     0     0
Southampton        806    0     0     0
Stoke              380    0     0     0
Sunderland         608    0     0     0
Swansea            266    0     0     0
Swindon             42    0     0     0
Tottenham         1072    0     0     0
Watford            266    0     0     0
West Brom          494    0     0     0
West Ham           958    0     0     0
Wigan              304    0     0     0
Wimbledon          274    0     0     0
Wolves             266    0     0     0

In [35]:
df.iloc[1]

Season                   1993-94
DateTime    1993-08-14T00:00:00Z
HomeTeam             Aston Villa
AwayTeam                     QPR
FTHG                           4
FTAG                           1
FTR                            H
HTHG                         NaN
HTAG                         NaN
HTR                          NaN
Referee                      NaN
HS                           NaN
AS                           NaN
HST                          NaN
AST                          NaN
HC                           NaN
AC                           NaN
HF                           NaN
AF                           NaN
HY                           NaN
AY                           NaN
HR                           NaN
AR                           NaN
Name: 1, dtype: object

In [36]:
team_sum.rename(columns={0:"GP"}, inplace=True)

In [37]:
team_sum

                    GP  Win  Draw  Loss
Arsenal           1072    0     0     0
Aston Villa        958    0     0     0
Barnsley            38    0     0     0
Birmingham         266    0     0     0
Blackburn          654    0     0     0
Blackpool           38    0     0     0
Bolton             494    0     0     0
Bournemouth        190    0     0     0
Bradford            76    0     0     0
Brighton           152    0     0     0
Burnley            266    0     0     0
Cardiff             76    0     0     0
Charlton           304    0     0     0
Chelsea           1072    0     0     0
Coventry           312    0     0     0
Crystal Palace     422    0     0     0
Derby              266    0     0     0
Everton           1072    0     0     0
Fulham             570    0     0     0
Huddersfield        76    0     0     0
Hull               190    0     0     0
Ipswich            160    0     0     0
Leeds              464    0     0     0
Leicester          574    0     0     0
Liverpool         1072    0     0     0
Man City           882    0     0     0
Man United        1072    0     0     0
Middlesbrough      532    0     0     0
Newcastle          996    0     0     0
Norwich            312    0     0     0
Nott'm Forest      156    0     0     0
Oldham              42    0     0     0
Portsmouth         266    0     0     0
QPR                236    0     0     0
Reading            114    0     0     0
Sheffield United   156    0     0     0
Sheffield Weds     274    0     0     0
Southampton        806    0     0     0
Stoke              380    0     0     0
Sunderland         608    0     0     0
Swansea            266    0     0     0
Swindon             42    0     0     0
Tottenham         1072    0     0     0
Watford            266    0     0     0
West Brom          494    0     0     0
West Ham           958    0     0     0
Wigan              304    0     0     0
Wimbledon          274    0     0     0
Wolves             266    0     0     0

In [38]:
team_sum.sort_values(by='GP', ascending=False)

                    GP  Win  Draw  Loss
Arsenal           1072    0     0     0
Chelsea           1072    0     0     0
Tottenham         1072    0     0     0
Man United        1072    0     0     0
Everton           1072    0     0     0
Liverpool         1072    0     0     0
Newcastle          996    0     0     0
West Ham           958    0     0     0
Aston Villa        958    0     0     0
Man City           882    0     0     0
Southampton        806    0     0     0
Blackburn          654    0     0     0
Sunderland         608    0     0     0
Leicester          574    0     0     0
Fulham             570    0     0     0
Middlesbrough      532    0     0     0
West Brom          494    0     0     0
Bolton             494    0     0     0
Leeds              464    0     0     0
Crystal Palace     422    0     0     0
Stoke              380    0     0     0
Coventry           312    0     0     0
Norwich            312    0     0     0
Wigan              304    0     0     0
Charlton           304    0     0     0
Wimbledon          274    0     0     0
Sheffield Weds     274    0     0     0
Derby              266    0     0     0
Portsmouth         266    0     0     0
Watford            266    0     0     0
Swansea            266    0     0     0
Burnley            266    0     0     0
Wolves             266    0     0     0
Birmingham         266    0     0     0
QPR                236    0     0     0
Bournemouth        190    0     0     0
Hull               190    0     0     0
Ipswich            160    0     0     0
Sheffield United   156    0     0     0
Nott'm Forest      156    0     0     0
Brighton           152    0     0     0
Reading            114    0     0     0
Huddersfield        76    0     0     0
Cardiff             76    0     0     0
Bradford            76    0     0     0
Oldham              42    0     0     0
Swindon             42    0     0     0
Barnsley            38    0     0     0
Blackpool           38    0     0     0

In [39]:
team_sum

                    GP  Win  Draw  Loss
Arsenal           1072    0     0     0
Aston Villa        958    0     0     0
Barnsley            38    0     0     0
Birmingham         266    0     0     0
Blackburn          654    0     0     0
Blackpool           38    0     0     0
Bolton             494    0     0     0
Bournemouth        190    0     0     0
Bradford            76    0     0     0
Brighton           152    0     0     0
Burnley            266    0     0     0
Cardiff             76    0     0     0
Charlton           304    0     0     0
Chelsea           1072    0     0     0
Coventry           312    0     0     0
Crystal Palace     422    0     0     0
Derby              266    0     0     0
Everton           1072    0     0     0
Fulham             570    0     0     0
Huddersfield        76    0     0     0
Hull               190    0     0     0
Ipswich            160    0     0     0
Leeds              464    0     0     0
Leicester          574    0     0     0
Liverpool         1072    0     0     0
Man City           882    0     0     0
Man United        1072    0     0     0
Middlesbrough      532    0     0     0
Newcastle          996    0     0     0
Norwich            312    0     0     0
Nott'm Forest      156    0     0     0
Oldham              42    0     0     0
Portsmouth         266    0     0     0
QPR                236    0     0     0
Reading            114    0     0     0
Sheffield United   156    0     0     0
Sheffield Weds     274    0     0     0
Southampton        806    0     0     0
Stoke              380    0     0     0
Sunderland         608    0     0     0
Swansea            266    0     0     0
Swindon             42    0     0     0
Tottenham         1072    0     0     0
Watford            266    0     0     0
West Brom          494    0     0     0
West Ham           958    0     0     0
Wigan              304    0     0     0
Wimbledon          274    0     0     0
Wolves             266    0     0     0

In [40]:
for i in range(len(df)):
    #Assign the current team to a temp value of home team, away team and result.
    HT = df.iloc[i][2]
    AT = df.iloc[i][3]
    res = df.iloc[i][6]

    if res == "H":
        team_sum.loc[HT]["Win"] += 1
        team_sum.loc[AT]["Loss"] += 1
    elif res == "A":
        team_sum.loc[AT]["Win"] += 1
        team_sum.loc[HT]["Loss"] += 1
    else:
        team_sum.loc[HT]["Draw"] += 1
        team_sum.loc[AT]["Draw"] += 1

In [41]:
team_sum

                    GP  Win  Draw  Loss
Arsenal           1072  582   270   220
Aston Villa        958  320   279   359
Barnsley            38   10     5    23
Birmingham         266   73    82   111
Blackburn          654  242   173   239
Blackpool           38   10     9    19
Bolton             494  149   128   217
Bournemouth        190   56    43    91
Bradford            76   14    20    42
Brighton           152   36    50    66
Burnley            266   76    62   128
Cardiff             76   17    13    46
Charlton           304   93    82   129
Chelsea           1072  583   259   230
Coventry           312   86    99   127
Crystal Palace     422  123    98   201
Derby              266   68    70   128
Everton           1072  392   306   374
Fulham             570  162   154   254
Huddersfield        76   12    17    47
Hull               190   41    48   101
Ipswich            160   45    37    78
Leeds              464  195   115   154
Leicester          574  195   150   229
Liverpool         1072  565   263   244
Man City           882  429   192   261
Man United        1072  663   235   174
Middlesbrough      532  154   158   220
Newcastle          996  369   254   373
Norwich            312   73    89   150
Nott'm Forest      156   50    49    57
Oldham              42    9    13    20
Portsmouth         266   79    65   122
QPR                236   64    53   119
Reading            114   32    23    59
Sheffield United   156   39    40    77
Sheffield Weds     274   86    75   113
Southampton        806  252   217   337
Stoke              380  116   109   155
Sunderland         608  153   159   296
Swansea            266   82    66   118
Swindon             42    5    15    22
Tottenham         1072  464   265   343
Watford            266   67    61   138
West Brom          494  117   139   238
West Ham           958  319   245   394
Wigan              304   85    76   143
Wimbledon          274   85    82   107
Wolves             266   75    72   119

In [42]:
team_sum.to_csv('wins_per_team.csv', index=True)

In [43]:
team_sum.sort_values(by="Win", ascending=False)

                    GP  Win  Draw  Loss
Man United        1072  663   235   174
Chelsea           1072  583   259   230
Arsenal           1072  582   270   220
Liverpool         1072  565   263   244
Tottenham         1072  464   265   343
Man City           882  429   192   261
Everton           1072  392   306   374
Newcastle          996  369   254   373
Aston Villa        958  320   279   359
West Ham           958  319   245   394
Southampton        806  252   217   337
Blackburn          654  242   173   239
Leeds              464  195   115   154
Leicester          574  195   150   229
Fulham             570  162   154   254
Middlesbrough      532  154   158   220
Sunderland         608  153   159   296
Bolton             494  149   128   217
Crystal Palace     422  123    98   201
West Brom          494  117   139   238
Stoke              380  116   109   155
Charlton           304   93    82   129
Sheffield Weds     274   86    75   113
Coventry           312   86    99   127
Wigan              304   85    76   143
Wimbledon          274   85    82   107
Swansea            266   82    66   118
Portsmouth         266   79    65   122
Burnley            266   76    62   128
Wolves             266   75    72   119
Norwich            312   73    89   150
Birmingham         266   73    82   111
Derby              266   68    70   128
Watford            266   67    61   138
QPR                236   64    53   119
Bournemouth        190   56    43    91
Nott'm Forest      156   50    49    57
Ipswich            160   45    37    78
Hull               190   41    48   101
Sheffield United   156   39    40    77
Brighton           152   36    50    66
Reading            114   32    23    59
Cardiff             76   17    13    46
Bradford            76   14    20    42
Huddersfield        76   12    17    47
Blackpool           38   10     9    19
Barnsley            38   10     5    23
Oldham              42    9    13    20
Swindon             42    5    15    22

In [44]:
team_sum["%W"] = 0

In [45]:
team_sum["%D"] = 0
team_sum["%L"] = 0

In [46]:
team_sum

                    GP  Win  Draw  Loss  %W  %D  %L
Arsenal           1072  582   270   220   0   0   0
Aston Villa        958  320   279   359   0   0   0
Barnsley            38   10     5    23   0   0   0
Birmingham         266   73    82   111   0   0   0
Blackburn          654  242   173   239   0   0   0
Blackpool           38   10     9    19   0   0   0
Bolton             494  149   128   217   0   0   0
Bournemouth        190   56    43    91   0   0   0
Bradford            76   14    20    42   0   0   0
Brighton           152   36    50    66   0   0   0
Burnley            266   76    62   128   0   0   0
Cardiff             76   17    13    46   0   0   0
Charlton           304   93    82   129   0   0   0
Chelsea           1072  583   259   230   0   0   0
Coventry           312   86    99   127   0   0   0
Crystal Palace     422  123    98   201   0   0   0
Derby              266   68    70   128   0   0   0
Everton           1072  392   306   374   0   0   0
Fulham             570  162   154   254   0   0   0
Huddersfield        76   12    17    47   0   0   0
Hull               190   41    48   101   0   0   0
Ipswich            160   45    37    78   0   0   0
Leeds              464  195   115   154   0   0   0
Leicester          574  195   150   229   0   0   0
Liverpool         1072  565   263   244   0   0   0
Man City           882  429   192   261   0   0   0
Man United        1072  663   235   174   0   0   0
Middlesbrough      532  154   158   220   0   0   0
Newcastle          996  369   254   373   0   0   0
Norwich            312   73    89   150   0   0   0
Nott'm Forest      156   50    49    57   0   0   0
Oldham              42    9    13    20   0   0   0
Portsmouth         266   79    65   122   0   0   0
QPR                236   64    53   119   0   0   0
Reading            114   32    23    59   0   0   0
Sheffield United   156   39    40    77   0   0   0
Sheffield Weds     274   86    75   113   0   0   0
Southampton        806  252   217   337   0   0   0
Stoke              380  116   109   155   0   0   0
Sunderland         608  153   159   296   0   0   0
Swansea            266   82    66   118   0   0   0
Swindon             42    5    15    22   0   0   0
Tottenham         1072  464   265   343   0   0   0
Watford            266   67    61   138   0   0   0
West Brom          494  117   139   238   0   0   0
West Ham           958  319   245   394   0   0   0
Wigan              304   85    76   143   0   0   0
Wimbledon          274   85    82   107   0   0   0
Wolves             266   75    72   119   0   0   0

In [66]:
for i in range (len(team_sum)):
    
    GP = team_sum.iloc[i]["GP"]
    wins = team_sum.iloc[i]["Win"]
    win_frac = (wins / GP)
    win_percent = "{:.2%}".format(win_frac)

    team_sum.iat[i, 4] = win_percent

In [67]:
team_sum

                    GP  Win  Draw  Loss      %W  %D  %L
Arsenal           1072  582   270   220  54.29%   0   0
Aston Villa        958  320   279   359  33.40%   0   0
Barnsley            38   10     5    23  26.32%   0   0
Birmingham         266   73    82   111  27.44%   0   0
Blackburn          654  242   173   239  37.00%   0   0
Blackpool           38   10     9    19  26.32%   0   0
Bolton             494  149   128   217  30.16%   0   0
Bournemouth        190   56    43    91  29.47%   0   0
Bradford            76   14    20    42  18.42%   0   0
Brighton           152   36    50    66  23.68%   0   0
Burnley            266   76    62   128  28.57%   0   0
Cardiff             76   17    13    46  22.37%   0   0
Charlton           304   93    82   129  30.59%   0   0
Chelsea           1072  583   259   230  54.38%   0   0
Coventry           312   86    99   127  27.56%   0   0
Crystal Palace     422  123    98   201  29.15%   0   0
Derby              266   68    70   128  25.56%   0   0
Everton           1072  392   306   374  36.57%   0   0
Fulham             570  162   154   254  28.42%   0   0
Huddersfield        76   12    17    47  15.79%   0   0
Hull               190   41    48   101  21.58%   0   0
Ipswich            160   45    37    78  28.12%   0   0
Leeds              464  195   115   154  42.03%   0   0
Leicester          574  195   150   229  33.97%   0   0
Liverpool         1072  565   263   244  52.71%   0   0
Man City           882  429   192   261  48.64%   0   0
Man United        1072  663   235   174  61.85%   0   0
Middlesbrough      532  154   158   220  28.95%   0   0
Newcastle          996  369   254   373  37.05%   0   0
Norwich            312   73    89   150  23.40%   0   0
Nott'm Forest      156   50    49    57  32.05%   0   0
Oldham              42    9    13    20  21.43%   0   0
Portsmouth         266   79    65   122  29.70%   0   0
QPR                236   64    53   119  27.12%   0   0
Reading            114   32    23    59  28.07%   0   0
Sheffield United   156   39    40    77  25.00%   0   0
Sheffield Weds     274   86    75   113  31.39%   0   0
Southampton        806  252   217   337  31.27%   0   0
Stoke              380  116   109   155  30.53%   0   0
Sunderland         608  153   159   296  25.16%   0   0
Swansea            266   82    66   118  30.83%   0   0
Swindon             42    5    15    22  11.90%   0   0
Tottenham         1072  464   265   343  43.28%   0   0
Watford            266   67    61   138  25.19%   0   0
West Brom          494  117   139   238  23.68%   0   0
West Ham           958  319   245   394  33.30%   0   0
Wigan              304   85    76   143  27.96%   0   0
Wimbledon          274   85    82   107  31.02%   0   0
Wolves             266   75    72   119  28.20%   0   0

In [76]:
for i in range (len(team_sum)):
    
    GP = team_sum.iloc[i]["GP"]
    draw = team_sum.iloc[i]["Draw"]
    draw_frac = (draw / GP)
    draw_percent = "{:.2%}".format(draw_frac)

    team_sum.iat[i, 5] = draw_percent

In [77]:
for i in range (len(team_sum)):
    
    GP = team_sum.iloc[i]["GP"]
    loss = team_sum.iloc[i]["Loss"]
    loss_frac = (loss / GP)
    loss_percent = "{:.2%}".format(loss_frac)

    team_sum.iat[i, 6] = loss_percent

In [78]:
team_sum

                    GP  Win  Draw  Loss      %W      %D      %L
Arsenal           1072  582   270   220  54.29%  25.19%  20.52%
Aston Villa        958  320   279   359  33.40%  29.12%  37.47%
Barnsley            38   10     5    23  26.32%  13.16%  60.53%
Birmingham         266   73    82   111  27.44%  30.83%  41.73%
Blackburn          654  242   173   239  37.00%  26.45%  36.54%
Blackpool           38   10     9    19  26.32%  23.68%  50.00%
Bolton             494  149   128   217  30.16%  25.91%  43.93%
Bournemouth        190   56    43    91  29.47%  22.63%  47.89%
Bradford            76   14    20    42  18.42%  26.32%  55.26%
Brighton           152   36    50    66  23.68%  32.89%  43.42%
Burnley            266   76    62   128  28.57%  23.31%  48.12%
Cardiff             76   17    13    46  22.37%  17.11%  60.53%
Charlton           304   93    82   129  30.59%  26.97%  42.43%
Chelsea           1072  583   259   230  54.38%  24.16%  21.46%
Coventry           312   86    99   127  27.56%  31.73%  40.71%
Crystal Palace     422  123    98   201  29.15%  23.22%  47.63%
Derby              266   68    70   128  25.56%  26.32%  48.12%
Everton           1072  392   306   374  36.57%  28.54%  34.89%
Fulham             570  162   154   254  28.42%  27.02%  44.56%
Huddersfield        76   12    17    47  15.79%  22.37%  61.84%
Hull               190   41    48   101  21.58%  25.26%  53.16%
Ipswich            160   45    37    78  28.12%  23.12%  48.75%
Leeds              464  195   115   154  42.03%  24.78%  33.19%
Leicester          574  195   150   229  33.97%  26.13%  39.90%
Liverpool         1072  565   263   244  52.71%  24.53%  22.76%
Man City           882  429   192   261  48.64%  21.77%  29.59%
Man United        1072  663   235   174  61.85%  21.92%  16.23%
Middlesbrough      532  154   158   220  28.95%  29.70%  41.35%
Newcastle          996  369   254   373  37.05%  25.50%  37.45%
Norwich            312   73    89   150  23.40%  28.53%  48.08%
Nott'm Forest      156   50    49    57  32.05%  31.41%  36.54%
Oldham              42    9    13    20  21.43%  30.95%  47.62%
Portsmouth         266   79    65   122  29.70%  24.44%  45.86%
QPR                236   64    53   119  27.12%  22.46%  50.42%
Reading            114   32    23    59  28.07%  20.18%  51.75%
Sheffield United   156   39    40    77  25.00%  25.64%  49.36%
Sheffield Weds     274   86    75   113  31.39%  27.37%  41.24%
Southampton        806  252   217   337  31.27%  26.92%  41.81%
Stoke              380  116   109   155  30.53%  28.68%  40.79%
Sunderland         608  153   159   296  25.16%  26.15%  48.68%
Swansea            266   82    66   118  30.83%  24.81%  44.36%
Swindon             42    5    15    22  11.90%  35.71%  52.38%
Tottenham         1072  464   265   343  43.28%  24.72%  32.00%
Watford            266   67    61   138  25.19%  22.93%  51.88%
West Brom          494  117   139   238  23.68%  28.14%  48.18%
West Ham           958  319   245   394  33.30%  25.57%  41.13%
Wigan              304   85    76   143  27.96%  25.00%  47.04%
Wimbledon          274   85    82   107  31.02%  29.93%  39.05%
Wolves             266   75    72   119  28.20%  27.07%  44.74%

In [79]:
team_sum.to_csv('wins_per_team.csv',index=True)

In [82]:
team_sum.sort_values(by="%W", ascending=False)

                    GP  Win  Draw  Loss      %W      %D      %L
Man United        1072  663   235   174  61.85%  21.92%  16.23%
Chelsea           1072  583   259   230  54.38%  24.16%  21.46%
Arsenal           1072  582   270   220  54.29%  25.19%  20.52%
Liverpool         1072  565   263   244  52.71%  24.53%  22.76%
Man City           882  429   192   261  48.64%  21.77%  29.59%
Tottenham         1072  464   265   343  43.28%  24.72%  32.00%
Leeds              464  195   115   154  42.03%  24.78%  33.19%
Newcastle          996  369   254   373  37.05%  25.50%  37.45%
Blackburn          654  242   173   239  37.00%  26.45%  36.54%
Everton           1072  392   306   374  36.57%  28.54%  34.89%
Leicester          574  195   150   229  33.97%  26.13%  39.90%
Aston Villa        958  320   279   359  33.40%  29.12%  37.47%
West Ham           958  319   245   394  33.30%  25.57%  41.13%
Nott'm Forest      156   50    49    57  32.05%  31.41%  36.54%
Sheffield Weds     274   86    75   113  31.39%  27.37%  41.24%
Southampton        806  252   217   337  31.27%  26.92%  41.81%
Wimbledon          274   85    82   107  31.02%  29.93%  39.05%
Swansea            266   82    66   118  30.83%  24.81%  44.36%
Charlton           304   93    82   129  30.59%  26.97%  42.43%
Stoke              380  116   109   155  30.53%  28.68%  40.79%
Bolton             494  149   128   217  30.16%  25.91%  43.93%
Portsmouth         266   79    65   122  29.70%  24.44%  45.86%
Bournemouth        190   56    43    91  29.47%  22.63%  47.89%
Crystal Palace     422  123    98   201  29.15%  23.22%  47.63%
Middlesbrough      532  154   158   220  28.95%  29.70%  41.35%
Burnley            266   76    62   128  28.57%  23.31%  48.12%
Fulham             570  162   154   254  28.42%  27.02%  44.56%
Wolves             266   75    72   119  28.20%  27.07%  44.74%
Ipswich            160   45    37    78  28.12%  23.12%  48.75%
Reading            114   32    23    59  28.07%  20.18%  51.75%
Wigan              304   85    76   143  27.96%  25.00%  47.04%
Coventry           312   86    99   127  27.56%  31.73%  40.71%
Birmingham         266   73    82   111  27.44%  30.83%  41.73%
QPR                236   64    53   119  27.12%  22.46%  50.42%
Blackpool           38   10     9    19  26.32%  23.68%  50.00%
Barnsley            38   10     5    23  26.32%  13.16%  60.53%
Derby              266   68    70   128  25.56%  26.32%  48.12%
Watford            266   67    61   138  25.19%  22.93%  51.88%
Sunderland         608  153   159   296  25.16%  26.15%  48.68%
Sheffield United   156   39    40    77  25.00%  25.64%  49.36%
West Brom          494  117   139   238  23.68%  28.14%  48.18%
Brighton           152   36    50    66  23.68%  32.89%  43.42%
Norwich            312   73    89   150  23.40%  28.53%  48.08%
Cardiff             76   17    13    46  22.37%  17.11%  60.53%
Hull               190   41    48   101  21.58%  25.26%  53.16%
Oldham              42    9    13    20  21.43%  30.95%  47.62%
Bradford            76   14    20    42  18.42%  26.32%  55.26%
Huddersfield        76   12    17    47  15.79%  22.37%  61.84%
Swindon             42    5    15    22  11.90%  35.71%  52.38%