In [95]:
import pandas as pd

In [96]:
df = pd.read_csv('results.csv', parse_dates=True, encoding='ISO-8859-1')

In [97]:
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df.tail()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
11108,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,G Scott,9.0,11.0,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
11109,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,M Atkinson,15.0,5.0,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
11110,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,R Jones,12.0,11.0,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
11111,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,M Oliver,17.0,18.0,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
11112,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,A Taylor,11.0,6.0,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

In [99]:
pd.set_option('display.max_columns', None)

In [100]:
df

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11108,2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,G Scott,9.0,11.0,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
11109,2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,M Atkinson,15.0,5.0,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
11110,2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,R Jones,12.0,11.0,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
11111,2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,M Oliver,17.0,18.0,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
11112,2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,A Taylor,11.0,6.0,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

In [101]:
df["HomeTeam"].value_counts()
df["AwayTeam"].value_counts()

Tottenham           552
Chelsea             552
Liverpool           552
Everton             551
Man United          551
Arsenal             550
Newcastle           514
Aston Villa         495
West Ham            495
Man City            457
Southampton         418
Blackburn           327
Sunderland          304
Leicester           301
Fulham              285
Middlesbrough       266
Leeds               248
Bolton              247
West Brom           247
Crystal Palace      226
Stoke               190
Norwich             171
Coventry            156
Charlton            152
Wigan               152
Wolves              149
Watford             149
Burnley             148
Sheffield Weds      137
Wimbledon           137
Derby               133
Swansea             133
Birmingham          133
Portsmouth          133
QPR                 118
Bournemouth          95
Hull                 95
Brighton             91
Ipswich              80
Nott'm Forest        78
Sheffield United     78
Reading              57
Bradford             38
Cardiff              38
Huddersfield         38
Oldham               21
Swindon              21
Blackpool            19
Barnsley             19
Brentford            16
Name: AwayTeam, dtype: int64

In [102]:
df = df[df['Season'] != "2021-22"]

In [103]:
team_sum = df["AwayTeam"].value_counts() + df["HomeTeam"].value_counts()

In [104]:
team_sum.sort_values(ascending=False).tail()

Bradford     76
Oldham       42
Swindon      42
Barnsley     38
Blackpool    38
dtype: int64

In [105]:
team_sum.count()

49

In [106]:
df.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
df.loc[1][2] #rows and columns

'Aston Villa'

In [108]:
df.iloc[7500]

Season                   2012-13
DateTime    2012-11-17T00:00:00Z
HomeTeam               West Brom
AwayTeam                 Chelsea
FTHG                           2
FTAG                           1
FTR                            H
HTHG                         1.0
HTAG                         1.0
HTR                            D
Referee                 M Oliver
HS                           8.0
AS                          19.0
HST                          6.0
AST                         12.0
HC                           0.0
AC                          12.0
HF                           7.0
AF                          13.0
HY                           0.0
AY                           0.0
HR                           0.0
AR                           0.0
Name: 7500, dtype: object

In [109]:
df["FTAG"].mean()

1.1368011847463901

In [110]:
df["FTHG"].mean()

1.5191595705294336

In [111]:
df["FTHG"].sum() + df["FTAG"].sum()

28695

In [112]:
df["HomeTeam"].unique()

array(['Arsenal', 'Aston Villa', 'Chelsea', 'Liverpool', 'Man City',
       'Newcastle', 'Oldham', 'Sheffield United', 'Southampton',
       'West Ham', 'Norwich', 'Tottenham', 'Everton', 'Ipswich', 'Leeds',
       'Wimbledon', 'Blackburn', 'Coventry', 'Man United', 'QPR',
       'Sheffield Weds', 'Swindon', 'Crystal Palace', 'Leicester',
       "Nott'm Forest", 'Bolton', 'Middlesbrough', 'Derby', 'Sunderland',
       'Barnsley', 'Charlton', 'Watford', 'Bradford', 'Fulham',
       'Birmingham', 'West Brom', 'Portsmouth', 'Wolves', 'Wigan',
       'Reading', 'Hull', 'Stoke', 'Burnley', 'Blackpool', 'Swansea',
       'Cardiff', 'Bournemouth', 'Brighton', 'Huddersfield'], dtype=object)

In [113]:
len(df)

10804

In [114]:
#Attemp to count the number of wins

In [115]:
df.iloc[1] #go through every game

Season                   1993-94
DateTime    1993-08-14T00:00:00Z
HomeTeam             Aston Villa
AwayTeam                     QPR
FTHG                           4
FTAG                           1
FTR                            H
HTHG                         NaN
HTAG                         NaN
HTR                          NaN
Referee                      NaN
HS                           NaN
AS                           NaN
HST                          NaN
AST                          NaN
HC                           NaN
AC                           NaN
HF                           NaN
AF                           NaN
HY                           NaN
AY                           NaN
HR                           NaN
AR                           NaN
Name: 1, dtype: object

In [116]:
df.iloc[1][2] #Access the home team

'Aston Villa'

In [117]:
df.iloc[1]

Season                   1993-94
DateTime    1993-08-14T00:00:00Z
HomeTeam             Aston Villa
AwayTeam                     QPR
FTHG                           4
FTAG                           1
FTR                            H
HTHG                         NaN
HTAG                         NaN
HTR                          NaN
Referee                      NaN
HS                           NaN
AS                           NaN
HST                          NaN
AST                          NaN
HC                           NaN
AC                           NaN
HF                           NaN
AF                           NaN
HY                           NaN
AY                           NaN
HR                           NaN
AR                           NaN
Name: 1, dtype: object

In [118]:
team_sum

Arsenal             1072
Aston Villa          958
Barnsley              38
Birmingham           266
Blackburn            654
Blackpool             38
Bolton               494
Bournemouth          190
Bradford              76
Brighton             152
Burnley              266
Cardiff               76
Charlton             304
Chelsea             1072
Coventry             312
Crystal Palace       422
Derby                266
Everton             1072
Fulham               570
Huddersfield          76
Hull                 190
Ipswich              160
Leeds                464
Leicester            574
Liverpool           1072
Man City             882
Man United          1072
Middlesbrough        532
Newcastle            996
Norwich              312
Nott'm Forest        156
Oldham                42
Portsmouth           266
QPR                  236
Reading              114
Sheffield United     156
Sheffield Weds       274
Southampton          806
Stoke                380
Sunderland           608
Swansea              266
Swindon               42
Tottenham           1072
Watford              266
West Brom            494
West Ham             958
Wigan                304
Wimbledon            274
Wolves               266
dtype: int64

In [119]:
df.iloc[1]

Season                   1993-94
DateTime    1993-08-14T00:00:00Z
HomeTeam             Aston Villa
AwayTeam                     QPR
FTHG                           4
FTAG                           1
FTR                            H
HTHG                         NaN
HTAG                         NaN
HTR                          NaN
Referee                      NaN
HS                           NaN
AS                           NaN
HST                          NaN
AST                          NaN
HC                           NaN
AC                           NaN
HF                           NaN
AF                           NaN
HY                           NaN
AY                           NaN
HR                           NaN
AR                           NaN
Name: 1, dtype: object

In [120]:
team_sum.sort_index()

Arsenal             1072
Aston Villa          958
Barnsley              38
Birmingham           266
Blackburn            654
Blackpool             38
Bolton               494
Bournemouth          190
Bradford              76
Brighton             152
Burnley              266
Cardiff               76
Charlton             304
Chelsea             1072
Coventry             312
Crystal Palace       422
Derby                266
Everton             1072
Fulham               570
Huddersfield          76
Hull                 190
Ipswich              160
Leeds                464
Leicester            574
Liverpool           1072
Man City             882
Man United          1072
Middlesbrough        532
Newcastle            996
Norwich              312
Nott'm Forest        156
Oldham                42
Portsmouth           266
QPR                  236
Reading              114
Sheffield United     156
Sheffield Weds       274
Southampton          806
Stoke                380
Sunderland           608
Swansea              266
Swindon               42
Tottenham           1072
Watford              266
West Brom            494
West Ham             958
Wigan                304
Wimbledon            274
Wolves               266
dtype: int64

In [121]:
type(team_sum)

pandas.core.series.Series

In [122]:
team_sum = team_sum.to_frame()

In [123]:
type(team_sum)

pandas.core.frame.DataFrame

In [124]:
team_sum["Win"] = 0

In [125]:
team_sum["Draw"] = 0

In [126]:
team_sum["Loss"] = 0

In [127]:
team_sum

                     0  Win  Draw  Loss
Arsenal           1072    0     0     0
Aston Villa        958    0     0     0
Barnsley            38    0     0     0
Birmingham         266    0     0     0
Blackburn          654    0     0     0
Blackpool           38    0     0     0
Bolton             494    0     0     0
Bournemouth        190    0     0     0
Bradford            76    0     0     0
Brighton           152    0     0     0
Burnley            266    0     0     0
Cardiff             76    0     0     0
Charlton           304    0     0     0
Chelsea           1072    0     0     0
Coventry           312    0     0     0
Crystal Palace     422    0     0     0
Derby              266    0     0     0
Everton           1072    0     0     0
Fulham             570    0     0     0
Huddersfield        76    0     0     0
Hull               190    0     0     0
Ipswich            160    0     0     0
Leeds              464    0     0     0
Leicester          574    0     0     0
Liverpool         1072    0     0     0
Man City           882    0     0     0
Man United        1072    0     0     0
Middlesbrough      532    0     0     0
Newcastle          996    0     0     0
Norwich            312    0     0     0
Nott'm Forest      156    0     0     0
Oldham              42    0     0     0
Portsmouth         266    0     0     0
QPR                236    0     0     0
Reading            114    0     0     0
Sheffield United   156    0     0     0
Sheffield Weds     274    0     0     0
Southampton        806    0     0     0
Stoke              380    0     0     0
Sunderland         608    0     0     0
Swansea            266    0     0     0
Swindon             42    0     0     0
Tottenham         1072    0     0     0
Watford            266    0     0     0
West Brom          494    0     0     0
West Ham           958    0     0     0
Wigan              304    0     0     0
Wimbledon          274    0     0     0
Wolves             266    0     0     0

In [128]:
team_sum

                     0  Win  Draw  Loss
Arsenal           1072    0     0     0
Aston Villa        958    0     0     0
Barnsley            38    0     0     0
Birmingham         266    0     0     0
Blackburn          654    0     0     0
Blackpool           38    0     0     0
Bolton             494    0     0     0
Bournemouth        190    0     0     0
Bradford            76    0     0     0
Brighton           152    0     0     0
Burnley            266    0     0     0
Cardiff             76    0     0     0
Charlton           304    0     0     0
Chelsea           1072    0     0     0
Coventry           312    0     0     0
Crystal Palace     422    0     0     0
Derby              266    0     0     0
Everton           1072    0     0     0
Fulham             570    0     0     0
Huddersfield        76    0     0     0
Hull               190    0     0     0
Ipswich            160    0     0     0
Leeds              464    0     0     0
Leicester          574    0     0     0
Liverpool         1072    0     0     0
Man City           882    0     0     0
Man United        1072    0     0     0
Middlesbrough      532    0     0     0
Newcastle          996    0     0     0
Norwich            312    0     0     0
Nott'm Forest      156    0     0     0
Oldham              42    0     0     0
Portsmouth         266    0     0     0
QPR                236    0     0     0
Reading            114    0     0     0
Sheffield United   156    0     0     0
Sheffield Weds     274    0     0     0
Southampton        806    0     0     0
Stoke              380    0     0     0
Sunderland         608    0     0     0
Swansea            266    0     0     0
Swindon             42    0     0     0
Tottenham         1072    0     0     0
Watford            266    0     0     0
West Brom          494    0     0     0
West Ham           958    0     0     0
Wigan              304    0     0     0
Wimbledon          274    0     0     0
Wolves             266    0     0     0

In [129]:
df.iloc[1]

Season                   1993-94
DateTime    1993-08-14T00:00:00Z
HomeTeam             Aston Villa
AwayTeam                     QPR
FTHG                           4
FTAG                           1
FTR                            H
HTHG                         NaN
HTAG                         NaN
HTR                          NaN
Referee                      NaN
HS                           NaN
AS                           NaN
HST                          NaN
AST                          NaN
HC                           NaN
AC                           NaN
HF                           NaN
AF                           NaN
HY                           NaN
AY                           NaN
HR                           NaN
AR                           NaN
Name: 1, dtype: object

In [130]:
team_sum.rename(columns={0:"GP"}, inplace=True)

In [131]:
team_sum

                    GP  Win  Draw  Loss
Arsenal           1072    0     0     0
Aston Villa        958    0     0     0
Barnsley            38    0     0     0
Birmingham         266    0     0     0
Blackburn          654    0     0     0
Blackpool           38    0     0     0
Bolton             494    0     0     0
Bournemouth        190    0     0     0
Bradford            76    0     0     0
Brighton           152    0     0     0
Burnley            266    0     0     0
Cardiff             76    0     0     0
Charlton           304    0     0     0
Chelsea           1072    0     0     0
Coventry           312    0     0     0
Crystal Palace     422    0     0     0
Derby              266    0     0     0
Everton           1072    0     0     0
Fulham             570    0     0     0
Huddersfield        76    0     0     0
Hull               190    0     0     0
Ipswich            160    0     0     0
Leeds              464    0     0     0
Leicester          574    0     0     0
Liverpool         1072    0     0     0
Man City           882    0     0     0
Man United        1072    0     0     0
Middlesbrough      532    0     0     0
Newcastle          996    0     0     0
Norwich            312    0     0     0
Nott'm Forest      156    0     0     0
Oldham              42    0     0     0
Portsmouth         266    0     0     0
QPR                236    0     0     0
Reading            114    0     0     0
Sheffield United   156    0     0     0
Sheffield Weds     274    0     0     0
Southampton        806    0     0     0
Stoke              380    0     0     0
Sunderland         608    0     0     0
Swansea            266    0     0     0
Swindon             42    0     0     0
Tottenham         1072    0     0     0
Watford            266    0     0     0
West Brom          494    0     0     0
West Ham           958    0     0     0
Wigan              304    0     0     0
Wimbledon          274    0     0     0
Wolves             266    0     0     0

In [132]:
team_sum.sort_values(by='GP', ascending=False)

                    GP  Win  Draw  Loss
Arsenal           1072    0     0     0
Chelsea           1072    0     0     0
Tottenham         1072    0     0     0
Man United        1072    0     0     0
Everton           1072    0     0     0
Liverpool         1072    0     0     0
Newcastle          996    0     0     0
West Ham           958    0     0     0
Aston Villa        958    0     0     0
Man City           882    0     0     0
Southampton        806    0     0     0
Blackburn          654    0     0     0
Sunderland         608    0     0     0
Leicester          574    0     0     0
Fulham             570    0     0     0
Middlesbrough      532    0     0     0
West Brom          494    0     0     0
Bolton             494    0     0     0
Leeds              464    0     0     0
Crystal Palace     422    0     0     0
Stoke              380    0     0     0
Coventry           312    0     0     0
Norwich            312    0     0     0
Wigan              304    0     0     0
Charlton           304    0     0     0
Wimbledon          274    0     0     0
Sheffield Weds     274    0     0     0
Derby              266    0     0     0
Portsmouth         266    0     0     0
Watford            266    0     0     0
Swansea            266    0     0     0
Burnley            266    0     0     0
Wolves             266    0     0     0
Birmingham         266    0     0     0
QPR                236    0     0     0
Bournemouth        190    0     0     0
Hull               190    0     0     0
Ipswich            160    0     0     0
Sheffield United   156    0     0     0
Nott'm Forest      156    0     0     0
Brighton           152    0     0     0
Reading            114    0     0     0
Huddersfield        76    0     0     0
Cardiff             76    0     0     0
Bradford            76    0     0     0
Oldham              42    0     0     0
Swindon             42    0     0     0
Barnsley            38    0     0     0
Blackpool           38    0     0     0

In [133]:
team_sum

                    GP  Win  Draw  Loss
Arsenal           1072    0     0     0
Aston Villa        958    0     0     0
Barnsley            38    0     0     0
Birmingham         266    0     0     0
Blackburn          654    0     0     0
Blackpool           38    0     0     0
Bolton             494    0     0     0
Bournemouth        190    0     0     0
Bradford            76    0     0     0
Brighton           152    0     0     0
Burnley            266    0     0     0
Cardiff             76    0     0     0
Charlton           304    0     0     0
Chelsea           1072    0     0     0
Coventry           312    0     0     0
Crystal Palace     422    0     0     0
Derby              266    0     0     0
Everton           1072    0     0     0
Fulham             570    0     0     0
Huddersfield        76    0     0     0
Hull               190    0     0     0
Ipswich            160    0     0     0
Leeds              464    0     0     0
Leicester          574    0     0     0
Liverpool         1072    0     0     0
Man City           882    0     0     0
Man United        1072    0     0     0
Middlesbrough      532    0     0     0
Newcastle          996    0     0     0
Norwich            312    0     0     0
Nott'm Forest      156    0     0     0
Oldham              42    0     0     0
Portsmouth         266    0     0     0
QPR                236    0     0     0
Reading            114    0     0     0
Sheffield United   156    0     0     0
Sheffield Weds     274    0     0     0
Southampton        806    0     0     0
Stoke              380    0     0     0
Sunderland         608    0     0     0
Swansea            266    0     0     0
Swindon             42    0     0     0
Tottenham         1072    0     0     0
Watford            266    0     0     0
West Brom          494    0     0     0
West Ham           958    0     0     0
Wigan              304    0     0     0
Wimbledon          274    0     0     0
Wolves             266    0     0     0

In [134]:
for i in range(len(df)):
    #Assign the current team to a temp value of home team, away team and result.
    HT = df.iloc[i][2]
    AT = df.iloc[i][3]
    res = df.iloc[i][6]

    if res == "H":
        team_sum.loc[HT]["Win"] += 1
        team_sum.loc[AT]["Loss"] += 1
    elif res == "A":
        team_sum.loc[AT]["Win"] += 1
        team_sum.loc[HT]["Loss"] += 1
    else:
        team_sum.loc[HT]["Draw"] += 1
        team_sum.loc[AT]["Draw"] += 1

In [135]:
team_sum

                    GP  Win  Draw  Loss
Arsenal           1072  582   270   220
Aston Villa        958  320   279   359
Barnsley            38   10     5    23
Birmingham         266   73    82   111
Blackburn          654  242   173   239
Blackpool           38   10     9    19
Bolton             494  149   128   217
Bournemouth        190   56    43    91
Bradford            76   14    20    42
Brighton           152   36    50    66
Burnley            266   76    62   128
Cardiff             76   17    13    46
Charlton           304   93    82   129
Chelsea           1072  583   259   230
Coventry           312   86    99   127
Crystal Palace     422  123    98   201
Derby              266   68    70   128
Everton           1072  392   306   374
Fulham             570  162   154   254
Huddersfield        76   12    17    47
Hull               190   41    48   101
Ipswich            160   45    37    78
Leeds              464  195   115   154
Leicester          574  195   150   229
Liverpool         1072  565   263   244
Man City           882  429   192   261
Man United        1072  663   235   174
Middlesbrough      532  154   158   220
Newcastle          996  369   254   373
Norwich            312   73    89   150
Nott'm Forest      156   50    49    57
Oldham              42    9    13    20
Portsmouth         266   79    65   122
QPR                236   64    53   119
Reading            114   32    23    59
Sheffield United   156   39    40    77
Sheffield Weds     274   86    75   113
Southampton        806  252   217   337
Stoke              380  116   109   155
Sunderland         608  153   159   296
Swansea            266   82    66   118
Swindon             42    5    15    22
Tottenham         1072  464   265   343
Watford            266   67    61   138
West Brom          494  117   139   238
West Ham           958  319   245   394
Wigan              304   85    76   143
Wimbledon          274   85    82   107
Wolves             266   75    72   119

In [136]:
team_sum.to_csv('wins_per_team.csv', index=True)

In [138]:
team_sum.sort_values(by="Win", ascending=False)

                    GP  Win  Draw  Loss
Man United        1072  663   235   174
Chelsea           1072  583   259   230
Arsenal           1072  582   270   220
Liverpool         1072  565   263   244
Tottenham         1072  464   265   343
Man City           882  429   192   261
Everton           1072  392   306   374
Newcastle          996  369   254   373
Aston Villa        958  320   279   359
West Ham           958  319   245   394
Southampton        806  252   217   337
Blackburn          654  242   173   239
Leeds              464  195   115   154
Leicester          574  195   150   229
Fulham             570  162   154   254
Middlesbrough      532  154   158   220
Sunderland         608  153   159   296
Bolton             494  149   128   217
Crystal Palace     422  123    98   201
West Brom          494  117   139   238
Stoke              380  116   109   155
Charlton           304   93    82   129
Sheffield Weds     274   86    75   113
Coventry           312   86    99   127
Wigan              304   85    76   143
Wimbledon          274   85    82   107
Swansea            266   82    66   118
Portsmouth         266   79    65   122
Burnley            266   76    62   128
Wolves             266   75    72   119
Norwich            312   73    89   150
Birmingham         266   73    82   111
Derby              266   68    70   128
Watford            266   67    61   138
QPR                236   64    53   119
Bournemouth        190   56    43    91
Nott'm Forest      156   50    49    57
Ipswich            160   45    37    78
Hull               190   41    48   101
Sheffield United   156   39    40    77
Brighton           152   36    50    66
Reading            114   32    23    59
Cardiff             76   17    13    46
Bradford            76   14    20    42
Huddersfield        76   12    17    47
Blackpool           38   10     9    19
Barnsley            38   10     5    23
Oldham              42    9    13    20
Swindon             42    5    15    22